@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;

}

body {
    font-family: 'Poppins', sans-serif;

}


ul li {
    list-style: none;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.89);
}

p,
li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
}

img {
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 10px;

}

.header {
    height: 95vh;
}

.navbar {

    padding: 1rem;
}

.header .logo {
    color: rgb(255, 208, 0);
    margin-left: 5px;
    margin-top: 10px;
}

.header .navbar .logo,
.header .navbar img {
    float: left;
    font-size: 2rem;
}

.header .navbar .nav-items {
    float: right;
    margin-top: 0.5rem;
    margin-right: 360px;
}

.header .navbar .nav-item {
    display: inline-block;
    padding: 0.5rem;
}


.navbar::after {
    content: '';
    display: block;
    clear: both;
}

.nav-line {
    text-align: center;

    padding: 12px;
    background-color: rgba(255, 166, 0, 0.192);
}

.nav-line a {
    background-color: rgba(255, 208, 0, 0.719);
}

.header-content .part-A {
    margin-left: 80px;
    font-size: xx-large;
    color: #1E2329;

}

.header-content .part-B {
    margin-left: 80px;
    font-size: xx-large;
    color: #1E2329;
}

.header-content .part-C {
    margin-left: 80px;
    color: #1E2329;
    font-weight: 400;
    font-size: large;
}

.login {
    margin-left: 100px;
    color: #181A20;
    background-color: #FCD535;
    border: 2px solid #FCD535;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 550;
    border-radius: 5px;
}

.login-continue {
    margin-left: 220px;
    color: #707A8A;
}

.login-google {
    background-color: #EAECEF;
    border-radius: 5px;
    margin-left: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 78px;
    color: #1E2329;
    font-weight: 500;
}

.login-apple {

    margin-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 78px;
    background-color: #EAECEF;
    border-radius: 5px;
    color: #1E2329;
    font-weight: 500;
}

.right-div {
    display: inline-block;
    float: right;
    margin-right: 250px;

}

.pic1 {
    height: 350px;
    width: 250px;
}

.pic2 {
    height: 350px;
    width: 200px;
}



.content {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-left: 80px;
}

.content-1 h1 {
    font-size: xx-large;
    color: #181A20;

}

.content-2 {
    font-size: x-large;
    color: #181A20;
    margin-left: 90px;
}

.content-3 {
    font-size: x-large;
    color: #181A20;
    margin-left: 90px;
}

.content-4 {
    font-size: x-large;
    color: #181A20;
    margin-left: 150px;
}

.image3 {
    display: block;
    width: 1250px;
    height: 300px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
}



.page-3heading {
    font-size: x-large;
    margin-left: 80px;
    margin-top: 60px;
}

.pheading-page3 {
    display: flex;
    justify-content: space-around;
    font-weight: 200;
    font-size: small;
    margin-top: 70px;
}

.heading-part1 {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    margin-top: 20px;
}

.heading-part2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: 500;
}


.heading-part3 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: 500;
}


.heading-part4 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: 500;
}

.heading-part5 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: 500;
}

.last-part {
    margin-top: 70px;
    margin-left: 70px;
}

.page3-last {
    margin-bottom: 30px;
    font-size: x-large;
}

.last-part a {
    font-weight: 500;
    background-color: #FCD535;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 3px;

}

.image4-heading {
    margin-top: 110px;
    margin-left: 70px;
}

.image4-heading h1 {
    font-size: xx-large;
}

.image4-heading p {
    font-size: medium;
    font-weight: 400;
    color: #1E2329;
}

.image4-data {
    margin-top: 70px;
    margin-left: 170px;
}

.data1 {
    margin-bottom: 60px;
    font-size: large;
}


.data1 p {
    font-weight: 300;
}

.data2 {
    margin-bottom: 60px;
    font-size: large;

}


.data2 p {
    font-weight: 300;
}

.data3 {
    margin-top: 60px;
    font-size: large;
    margin-bottom: 70px;
}

.data3 p {
    font-weight: 300;
}

.image4-link {
    margin-bottom: 90px;
    font-weight: 500;
    background-color: #FCD535;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 3px;
}

.pic4 {
    display: inline-block;
    float: right;
}

.pic4 img {
    width: 325px;
    height: 650px;
    margin-right: 220px;
    margin-bottom: 190px;
}


.data1 img {
    width: 90px;
    height: 50px;
}


.data2 img {
    width: 90px;
    height: 50px;
}

.data3 img {
    width: 90px;
    height: 50px;
}